{% extends 'base.twig' %}

{% block title %}{{ 'project5.title'|trans }}{% endblock %}

{% block body %}
    <!-- Site Main -->
    <main class="site-main">
        <article>
            <!-- Page Header -->
            <header class="page-header">
                <div class="wrapper">
                    <h1>{{ 'project5.title'|trans }}</h1>
                </div>
            </header>
            <!-- Page Header End -->

            <!-- Page Content -->
            <div class="wrapper">
                <!-- Project Info -->
                <div class="widget-projects-single-info o-top">
                    <div class="widget-flex">
                        <div class="flex-item">
                            <h2>{{ 'project.description.label'|trans }}</h2>
                            {{ 'project5.description.content'|trans|raw }}
                        </div>
                        <div class="flex-item">
                            <div class="widget-flex">
                                <div class="flex-item">
                                    <h2>{{ 'project.links.label'|trans }}</h2>
                                    <a href="https://api-platform.com/">Api Platform</a><br>
                                    <a href="http://twig.sensiolabs.org/">Twig</a><br>
                                </div>
                                <div class="flex-item">
                                    <h2>{{ 'project.category.label'|trans }}</h2>
                                    <p>
                                        <a href="#">{{ 'index.filters.web.label'|trans }}</a>
                                    </p>
                                </div>
                                <div class="flex-item">
                                    <h2>{{ 'project.date.label'|trans }}</h2>
                                    <p>2017</p>
                                </div>
                                <div class="flex-item">
                                    <h2>{{ 'project.team.label'|trans }}</h2>
                                    <p>1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Info End -->

                <!-- Project Gallery -->
                <div class="widget-gallery o-full">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery-item">
                                <a href="{{ asset('build/images/ouimiam1.jpg') }}" title="{{ 'project5.title'|trans }}" class="popup-gallery">
                                    <img src="{{ asset('build/images/ouimiam1.jpg') }}" alt="{{ 'project5.title'|trans }}">
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="{{ asset('build/images/ouimiam3.jpg') }}" title="{{ 'project5.title'|trans }}" class="popup-gallery">
                                    <img src="{{ asset('build/images/ouimiam3.jpg') }}" alt="{{ 'project5.title'|trans }}">
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="{{ asset('build/images/ouimiam4.jpg') }}" title="{{ 'project5.title'|trans }}" class="popup-gallery">
                                    <img src="{{ asset('build/images/ouimiam4.jpg') }}" alt="{{ 'project5.title'|trans }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Projects Gallery End -->

                <!-- Navigation -->
                <nav class="widget-nav-post">
                    <ul>
                        <li class="prev">
                            <span>{{ 'project.navigation.previous.label'|trans }}</span>
                            <a href="{{ path('wildcat') }}">{{ 'project4.title'|trans }}</a>
                        </li>
                        <li class="all">
                            <a href="{{ path('homepage') }}"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </nav>
                <!-- Navigation End -->
            </div>
            <!-- Page Content End -->
        </article>
    </main>
    <!-- Site Main End -->
{% endblock %}
