<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Basic Page Head -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Cédric's portfolio">
    <meta name="author" content="Merouani Cédric">
    <meta name="keywords" content="portfolio">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ app.asset_path }}img/favicon.png">
    <link rel="apple-touch-icon" href="{{ app.asset_path }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ app.asset_path }}img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ app.asset_path }}img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ app.asset_path }}img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ app.asset_path }}img/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app.asset_path }}img/apple-touch-icon-180x180.png">

    {% block stylesheets %}
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}css/style.css">
    {% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

    {% block javascripts_header %}
    {% endblock %}
</head>
<body>
{% block header %}
    {% embed '_common/includes/header.twig' %}{% endembed %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    {% embed '_common/includes/footer.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    <script src="{{ app.asset_path }}js/jquery.min.js"></script>
    <script src="{{ app.asset_path }}js/bootstrap.min.js"></script>
    <script src="{{ app.asset_path }}js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ app.asset_path }}js/isotope.pkgd.min.js"></script>
    <script src="{{ app.asset_path }}js/magnific.popup.min.js"></script>
    <script src="{{ app.asset_path }}js/owl.carousel.min.js"></script>
    <script src="{{ app.asset_path }}js/jquery.fitvids.js"></script>
    <script src="{{ app.asset_path }}js/contact.form.js"></script>
    <script src="{{ app.asset_path }}js/SmoothScroll.js"></script>

    <script src="{{ app.asset_path }}js/custom.js"></script>
{% endblock %}
</body>
</html>
