<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Basic Page Head -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Portfolio - Cédric Merouani">
    <meta name="author" content="Merouani Cédric">
    <meta name="keywords" content="portfolio, cedric, merouani, freelance, symfony, react, docker">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('build/images/apple-touch-icon-167x167.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon-180x180.png') }}">

    {% block stylesheets %}
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/magnific.popup.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/vendor/custom.css') }}">
    {% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

    {% block javascripts_header %}
    {% endblock %}
</head>
<body>
{% block header %}
    {% embed '_common/includes/header.twig' %}{% endembed %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    {% embed '_common/includes/footer.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('build/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/vendor/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('build/vendor/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('build/vendor/magnific.popup.min.js') }}"></script>
    <script src="{{ asset('build/vendor/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('build/vendor/jquery.fitvids.js') }}"></script>
    <script src="{{ asset('build/vendor/contact.form.js') }}"></script>
    <script src="{{ asset('build/vendor/SmoothScroll.js') }}"></script>
    <script src="{{ asset('build/vendor/custom.js') }}"></script>
{% endblock %}
</body>
</html>
